@page "/"
<PageTitle>Index</PageTitle>

<h1>Hola Mi Querido Amigo Remy Acosta!</h1>

Bienvenido a mi disparate de aplicacion para demostrar mis conocimientos de Blazor


<img src="https://miro.medium.com/max/1400/1*c8sQqJ3p2z-WlKQTxjNgSw.png" />


